{{#each this}}
      <a href="" class="nav-element archive level-two" data-term-id="{{ID}}" data-term-name="{{name}}" data-nav-offset="{{../offset}}" data-second-offset="{{@index}}">{{name}}</a> 
{{/each}}